<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.paylivre.sdk.gateway.android">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true">

        <meta-data
            android:name="io.sentry.dsn"
            android:value="https://b7458e1514c74143b4cea77cef7a6dee@o788119.ingest.sentry.io/6198811" />
        <meta-data
            android:name="io.sentry.traces.sample-rate"
            android:value="1.0" />

        <activity
            android:name=".PaymentActivity"
            android:exported="true"
            android:hardwareAccelerated="true"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.SDKGatewayAndroid"
            android:windowSoftInputMode="adjustResize" />
    </application>

</manifest>